@page
@model OneProject.WebSite.Pages.AboutModel
@using OneProject.WebSite.Models
@{
    ViewData["Title"] = "About Me";
}

<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
<!-- Add your site or application content here -->
<!-- Wrapper -->
<!-- Breadcrumb Area -->
<div class="breadcrumb-area bg-grey">
    <div class="container">
        <div class="cr-breadcrumb">
            <h2>@ViewData["Title"]</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>@ViewData["Title"]</li>
            </ul>
        </div>
    </div>
</div>
<!--// Breadcrumb Area -->
<!-- Page Conttent -->
<main class="page-content">

    <!-- About Me Area -->
    <div class="cr-section about-us-area section-padding-lg bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-image">
                        <img src='@Model.Personal.AvatarUrl' alt="about image">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <h2>MY NAME IS <strong>@Model.Personal.Name</strong></h2>
                        @foreach (AboutMe text in Model.Personal.AboutMes)
                        {
                            <h5>@text.Subtitle</h5>
                            <p>@text.Body</p>
                        }
                        <ul>
                            <li>Email: @Model.Personal.Email</li>
                            <li>Phone: @Model.Personal.Phone</li>
                            <li>City: @Model.Personal.City</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- // About Me Area -->
    <!-- Experience Section -->
    <!-- Experience Details Area -->
    <div class="cr-section portfolio-details-area section-padding-lg bg-white">
        @foreach (Experience experience in Model.Personal.Experiences)
        {
            <div class="container">
                <div class="row section-padding-top-sm">
                    <div class="col-lg-12">
                        <div class="portfolio-details-info">
                            <h3 class="small-title-fullwidth"><span>@experience.CompanyName</span></h3>
                            <h5 class="portfolio-title">@experience.Position</h5>
                            @foreach (string paragraph in experience.Body)
                            {
                                <p>@paragraph</p>
                            }
                            <div class="post-share">
                                <h6>Share:</h6>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="portfolio-details-meta">
                                <ul>
                                    <li><i class="fa fa-user"></i><span>Created by:</span> Akcent Chester</li>
                                    <li><i class="fa fa-calendar"></i><span>Completed on:</span> 20 Jan 2017</li>
                                    <li><i class="fa fa-coffee"></i><span>Skills:</span> HTML5 / WP / CSS3</li>
                                    <li><i class="fa fa-link"></i><span>Client:</span> <a href="#">HasTech</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
    <!--// About Us Area -->
    <!-- Counter Section -->
    <div class="cr-section counter-section section-padding-xs bg-grey">
        <div class="container">
            <div class="row justify-content-center">

                <!-- Single Counter -->
                <div class="col-lg-3 col-md-5 col-sm-6 col-12">
                    <div class="single-count">
                        <h2><span class="counter-active">360</span>+</h2>
                        <h6>project done</h6>
                    </div>
                </div>
                <!--// Single Counter -->
                <!-- Single Counter -->
                <div class="col-lg-3 col-md-5 col-sm-6 col-12">
                    <div class="single-count">
                        <h2><span class="counter-active">690</span>+</h2>
                        <h6>Cups Of Coffee</h6>
                    </div>
                </div>
                <!--// Single Counter -->
                <!-- Single Counter -->
                <div class="col-lg-3 col-md-5 col-sm-6 col-12">
                    <div class="single-count">
                        <h2><span class="counter-active">420</span></h2>
                        <h6>Branding</h6>
                    </div>
                </div>
                <!--// Single Counter -->
                <!-- Single Counter -->
                <div class="col-lg-3 col-md-5 col-sm-6 col-12">
                    <div class="single-count">
                        <h2><span class="counter-active">100</span></h2>
                        <h6>Happy Clients</h6>
                    </div>
                </div>
                <!--// Single Counter -->

            </div>
        </div>
    </div>
    <!--// Counter Section -->
    <!-- Skills Area -->
    <div class="cr-section skills-area section-padding-bottom-lg bg-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="section-title text-center">
                        <h2>OUR SKILLS</h2>
                        <p>Here is the services which i know & provide all the time</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">

                <!-- Single Radial Progress -->
                <div class="col-lg-3 col-md-5 col-sm-6 col-12">
                    <div class="radial-progress-single mt-30">
                        <div class="radial-progress" data-percent="85" data-scale-color="#333333"><span>85%</span></div>
                        <h5 class="radial-progress-title">DESIGN</h5>
                    </div>
                </div>
                <!--// Single Radial Progress -->
                <!-- Single Radial Progress -->
                <div class="col-lg-3 col-md-5 col-sm-6 col-12">
                    <div class="radial-progress-single mt-30">
                        <div class="radial-progress" data-percent="95" data-scale-color="#333333"><span>95%</span></div>
                        <h5 class="radial-progress-title">DEVELOPMENT</h5>
                    </div>
                </div>
                <!--// Single Radial Progress -->
                <!-- Single Radial Progress -->
                <div class="col-lg-3 col-md-5 col-sm-6 col-12">
                    <div class="radial-progress-single mt-30">
                        <div class="radial-progress" data-percent="90" data-scale-color="#333333"><span>90%</span></div>
                        <h5 class="radial-progress-title">ANALYSIS</h5>
                    </div>
                </div>
                <!--// Single Radial Progress -->
                <!-- Single Radial Progress -->
                <div class="col-lg-3 col-md-5 col-sm-6 col-12">
                    <div class="radial-progress-single mt-30">
                        <div class="radial-progress" data-percent="80" data-scale-color="#333333"><span>80%</span></div>
                        <h5 class="radial-progress-title">MARKETING</h5>
                    </div>
                </div>
                <!--// Single Radial Progress -->

            </div>
        </div>
    </div>
    <!--// Skills Area -->

</main>
