@page
@model OneProject.WebSite.Pages.PortfolioModel
@using OneProject.WebSite.Components
@{
    ViewData["Title"] = "Portfolio";
}

<!-- Breadcrumb Area -->
@(await Html.RenderComponentAsync<Breadcrumb>(RenderMode.ServerPrerendered, new { Title = ViewData["Title"] }));
<!--// Breadcrumb Area -->
<!-- Page Conttent -->
<main class="page-content">

    <!-- Portfolios Ara -->
    <div class="cr-section portfolios-area section-padding-lg bg-white">
        <div class="container">

            <div class="portfolio-filters text-center">
                <button data-filter="*" class="is-checked">ALL</button>
                @foreach (string category in Model.PortfolioBrief.Categories)
                {
                    <button data-filter="@(".portfolio-filter-" + category.Replace(" ", "-"))">@category.ToUpper()</button>
                }
            </div>

            <div class="row portfolios-wrapper portfolios-zoom-button-holder">

                <!-- Single Portfolio -->
                @foreach (Models.Portfolio portfolio in Model.PortfolioBrief.Portfolios)
                {
                    string filters = "";
                    foreach (string category in portfolio.Category)
                    {
                        filters += "portfolio-filter-" + category.Replace(" ", "-") + " ";
                    }
                    <div class="col-lg-4 col-md-6 col-12 portfolio-item @filters">
                        <div class="portfolio">
                            <div class="portfolio-image">
                                <img src="@portfolio.ImageUrl" alt="portfolio image">
                            </div>
                            <div class="portfolio-content">
                                <a href="@portfolio.ImageUrl" class="portfolio-zoom-button"></a>
                                <h5><a asp-page="PortfolioDetail/Index" asp-route-id="@portfolio.Id">@portfolio.Name</a></h5>
                                @foreach (string category in portfolio.Category)
                                {
                                    <h6><a href="portfolio.html">@category</a></h6>
                                }
                            </div>
                        </div>
                    </div>
                }
                <!--// Single Portfolio -->
            </div>
            <div class="row">
                <div class="col-12 text-center mt-5">
                    <a href="portfolio.html" class="button" data-content="View More">
                        <span>View More</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--// Portfolios Ara -->
</main>
